/* Import fonts from google fonts */
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body {
  font-family: 'Raleway', sans-serif;
}

main {
  width: 960px;
  max-width: 100%;
  margin: auto;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 1em;
}

header {
  font-family: 'Lato', sans-serif;
  width: 100%;
  background-color: #ffffff;
}

#header-content {
  width: 960px;
  max-width: 100%;
  margin: auto;
  background-image: linear-gradient(to right,#4E2A84, #9767b2, #ffffff, #ffffff);
}

nav {
  text-align: right;
  width: 50%;
  float: right;
  padding: 20px;

}

h1, h2, h3, h4 {font-family: 'Lato', sans-serif;}
h1 {
  font-size: 2em;
  font-weight: normal;
  color: rgb(250,250,250);
  display: inline-block;
  width: auto;
  padding: 10px;
}

h2 {
  font-size: 1.5em;
  padding: 1em 0;
  border-bottom: solid #3a3a3a 0.1em;
}
p {
  line-height: 1.5em;
  margin: 1em 0;
}

#portrait {
  width: 20%;
  max-width: 300px;
  height: auto;
  margin: 2em;
  margin-left: 0;
  margin-bottom: 1em;
  float: left;
}

a {
  text-decoration: none;
  color: #9767b2;
  font-size: 1.1em;
}

.active {
  color:#4E2A84;
  font-weight: bold;
}

section {
  margin-top: 1.5em;
}

i {
  font-style: italic;
}
footer {
  text-align: center;
  padding: 2em 0;
}
footer p {
  font-style: italic;
}

@media only screen and (max-width: 759px) {
  #portrait{
    float: none;
    width: 100%;
    display: block;
    margin: auto;
    padding-top: 1em;
  }
}

@media only screen and (max-width: 640px) {
  nav {
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 1.1em;
  }
}