.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
form {
  width: 40%;
}

input, textarea {
  display: inline-block;
  width: 100%;
}

#contact-info {
  width: 40%;
  display: inline-block;
}

h3 {
  margin-top: 1em;
  font-size: 1.2em;
}



