.flex-row {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: auto;
  height: 250px;
}
.card {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;  
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
  margin: 0.5em;
}
img {
  height: 187px;
  width: auto;
  max-width: 100%;
  border: solid rgb(0,0,0,.2) .2em;
}